@using OnurAkpinar_BlogProject.Models.DTOs
@model User_DTO

<h1>Bilgilerinizi Düzenleyin</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" value="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" value="@Model.LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
                <div class="form-group">
            <label asp-for="Picture" class="control-label"></label>
            <input asp-for="Picture" class="form-control" type="file"/>
            <span asp-validation-for="Picture" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" value="@Model.About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" value="@Model.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Account">Profilime Geri Dön</a>
</div>
