@model OnurAkpinar_BlogProject.Models.Entities.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCounter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCounter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
